{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bulle D'Eco{% endblock %}</title>
        <link rel="icon" href="{% static 'pages/images/logo-white-rounded.ico' %}">
        <link rel="stylesheet" href="{% static 'pages/style.css' %}">
    </head>
    <body>
        {% include 'pages/partials/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>
        
        {% include 'pages/partials/footer.html' %}
        <button id="scrollTopBtn" onclick="window.scrollTo({top: 0, behavior: 'smooth'})" title="Remonter en haut">
            &#8679;
        </button>
        <div id="lightbox">
            <img id="lightbox-img" src="" alt="Image agrandie">
        </div>
        <script>
            window.addEventListener('scroll', function() {
                const scrollBtn = document.getElementById("scrollTopBtn");
                if (window.scrollY > 300) {
                    scrollBtn.classList.add("show");
                } else {
                    scrollBtn.classList.remove("show");
                }
            });

            document.addEventListener("DOMContentLoaded", function() {
                const sliders = document.querySelectorAll('.auto-slider');
                sliders.forEach(slider => {
                    const slides = slider.querySelectorAll('.slide');
                    let currentIndex = 0;
                    if(slides.length > 1) {
                        setInterval(() => {
                            slides[currentIndex].classList.remove('active');
                            currentIndex = (currentIndex + 1) % slides.length;
                            slides[currentIndex].classList.add('active');
                        }, 5000);
                    }
                });

                const lightbox = document.getElementById('lightbox');
                const lightboxImg = document.getElementById('lightbox-img');
                document.body.addEventListener('click', function(e) {
                    if (e.target.classList.contains('slide') && e.target.classList.contains('active')) {
                        if (e.target.src) {
                            lightboxImg.src = e.target.src;
                            lightbox.classList.add('active');
                        }
                    }
                });
                lightbox.addEventListener('click', function() {
                    lightbox.classList.remove('active');
                });
            });
        </script>
    </body>
</html>