{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Galerie - Bulle d'éco{% endblock %}

{% block content %}
<section class="hero galleryText">
    <div class="hero-content container galleryText-content">
        <h1>Galerie</h1>
        <p class="subtitle">Découvrez mes réalisations en images</p>
    </div>
</section>

<section class="container">
    <div class="gallery-grid">
        <img class="gallery-item slide active" src="{% static 'pages/images/projet-planche-tendance.jpg' %}" alt="Vase"
            loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/projet-visuel-3d.jpg' %}" alt="Vase"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/avant_apres/avt_apr_chambre_champagne.png' %}" alt="Image Projet Avant/Après"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/avant_apres/avt_apr_chambre_melesse_2.png' %}" alt="Image Projet Avant/Après"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/avant_apres/avt_apr_cuisine_champagne.png' %}" alt="Image Projet Avant/Après"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/avant_apres/avt_apr_entree_champagne.png' %}" alt="Image Projet Avant/Après"
            loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/avant_apres/avt_apr_sdb_champagne.png' %}"
            alt="Image Projet Avant/Après" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/avant_apres/avt_apr_sdb_nieulle.png' %}"
            alt="Image Projet Avant/Après" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/avant_apres/avt_apr_table_nieulle.png' %}"
            alt="Image Projet Avant/Après" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/avant_apres/avt_apr_chambre_melesse.png' %}"
            alt="Image Projet Avant/Après" loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/avant_apres/avt_apr_escalier_champagne.png' %}" alt="Image Projet Avant/Après"
            loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/avant_apres/avt_apr_cuisine_random.png' %}"
            alt="Image Projet Avant/Après" loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_sejour_lin_gris.png' %}" alt="Image Planche Tendance"
            loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/planche_ambiance/amb_chambre_canard.png' %}"
            alt="Image Planche Tendance" loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_chambre_naturelle.png' %}" alt="Image Planche Tendance"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_chambre_sous_combles.png' %}" alt="Image Planche Tendance"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_chambre_terracotta_aqua.png' %}"
            alt="Image Planche Tendance" loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_salon_klimt_canard.png' %}" alt="Image Planche Tendance"
            loading="lazy">
        <img class="gallery-item slide active"
            src="{% static 'pages/images/planche_ambiance/amb_sejour_bois_gris.png' %}" alt="Image Planche Tendance"
            loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/planche_ambiance/amb_bulledeco_1.png' %}"
            alt="Image Planche Tendance" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/planche_ambiance/amb_bulledeco_2.png' %}"
            alt="Image Planche Tendance" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/materiaux/materiaux_enduits.png' %}"
            alt="Image de mur en enduit STONAT" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/materiaux/materiaux_enduits_2.png' %}"
            alt="Image de mur en enduit STONAT" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/materiaux/materiaux_enduits_3.png' %}"
            alt="Image de mur en enduit STONAT" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/materiaux/materiaux_enduits_4.png' %}"
            alt="Image de mur en enduit STONAT" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie_2.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie_3.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie_4.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie_5.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_epicerie_6.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_sam.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_sejour.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_cuisine.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_bulledeco.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_bulledeco_2.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_chambre_parentale.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_chambre_parentale_2.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_chambre_parentale_3.png' %}"
            alt="Image Visuel 3D" loading="lazy">
        <img class="gallery-item slide active" src="{% static 'pages/images/rendu_3d/3D_chambre_parentale_4.png' %}"
            alt="Image Visuel 3D" loading="lazy">
    </div>
</section>
{% endblock %}