<!-- <footer>
    <p>&copy; 2026 Bulle D'Eco</p>
    <a href="/contact">Contactez-nous</a>
    <a href="/legal">Mentions légales</a>
</footer> -->


{% load static %}
<footer>
    <div class="footer-container container">
        <div class="footer-section">
            <h3 class="accent-title">Bulle d'éco</h3>
            <p>Décoration d'intérieur écoresponsable par Gwladys Souakri.</p>
            <p>3 rue des Boguets<br>17600 NIEULLE SUR SEUDRE</p>
            <p>SIRET: 91827477000018</p>
        </div>
        
        <div class="footer-section">
            <h3 class="accent-title">Contactez-moi</h3>
            <p>Email : <a href="mailto:bulledeco17@gmail.com">bulledeco17@gmail.com</a></p>
            <p>Tél : <a href="tel:0616913666">06 16 91 36 66</a></p>
        </div>
        
        <div class="footer-section">
            <h3 class="accent-title">Réseaux Sociaux</h3>
            <p><a href="https://www.instagram.com/bulle_d_eco" target="_blank">Instagram : @bulle_d_eco</a></p>
            <p><a href="https://www.facebook.com/p/Bulle-déco-gwladys-souakri" target="_blank">Facebook : Bulle d'éco gwladys souakri</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Bulle d'éco - Tous droits réservés.</p>
        <a href="/legal">Mentions légales</a>
    </div>
</footer>