{% load static %}
<header>
    <nav class="container">
        <a href="/" class="logo">
            <img src="{% static 'pages/images/logo-white-rounded.ico' %}" alt="Logo Bulle D'Eco">
            <h1 class="title">Bulle d'éco</h1>
        </a>
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/#prestations">Prestations</a></li>
            <li><a href="{% url 'materiaux' %}">Matériaux</a></li>
            <li><a href="{% url 'gallery' %}">Galerie</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>